<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>    
                    <th>Birth Date</th>  

                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let sportsman of sportspeople">
                    <td><span>{{sportsman.name}}</span></td>
                    <td>{{sportsman.birthDate|date:'yyyy-MM-dd'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>